<configuration>
    <!-- INFO log appender -->
    <appender name="INFO_FILE" class="ch.qos.logback.core.FileAppender">
        <file>res/error.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    
    <!-- Logger for ERROR level -->
    <logger name="com.scalablesolutionscloud.controller" level="ERROR">
        <appender-ref ref="INFO_FILE" />
    </logger>
    
    <!-- Logger for ERROR level -->
    <logger name="com.scalablesolutionscloud.service" level="ERROR">
        <appender-ref ref="INFO_FILE" />
    </logger>
    
</configuration>

